@import '../../assets/Fonts/typography.scss';
@import '../../assets/variables.scss';

.recent-post {
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
        margin-bottom: 50px;
    }

    &__img-wrapper {
        width: 371px;
        height: 298px;
        margin-right: 55px;
        cursor: pointer;
    }

    &__description {
        &-theme {
            @include rc-h3-gray;
            text-transform: uppercase;
        }

        &-postTitle {
            @include lb-h2-black;
            cursor: pointer;
        }

        &-info {
            @include rc-info-gray;
            margin: 8px 0;
            cursor: pointer;

            &-block:first-child {
                margin-right: 22px;
            }
        }

        &-short {
            @include rc-description;
            cursor: pointer;
        }
    }
}

.other-post {
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
        margin-bottom: 66px;
    }

    &__img-wrapper {
        width: 237px;
        height: 177px;
        margin-right: 37px;
        cursor: pointer;
    }
}