.secondary-post {
    margin: 0 25px 50px;
    cursor: pointer;
    height: 592px;
    padding-right: 78px;
    background: url(../../assets/img/SecondaryPost/SecondarySectionBackground.png) no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}