@import '../../assets/Fonts/typography.scss';
@import '../../assets/variables.scss';

.posts {
    padding: 0 255px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 62px;

    &_title {
        @include rc-title;
        margin-bottom: 13px;
    }

    &_divider {
        height: 3px;
        width: 160px;
        background-color: $black;
        margin-bottom: 50px;
    }
}